body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #222;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
    text-decoration: underline;
}

p {
    margin-bottom: 1.2rem;
}

.titulo {
    background-image: url(comunidad2.jpg);
    background-size: cover;
    background-position: center;
    padding: 1.5rem 0;
    text-align: center;
}

.titulo h1 {
    font-size: 3.2rem;
    margin: 0;
        color: white;
        text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;
    }

.contenido {
    display: flex;
    height: 100vh;
    margin: 0;
}

.informacion {
    flex: 1;
}

.informacion section:nth-of-type(odd) {
    background: #ffffff;
}

.informacion section:nth-of-type(even) {
    background: #e4dccb;
}

.informacion section {
    padding: 10px 15px;
}

.container {
    width: 250px;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    background: #000;
    color: white;
    padding: 12px;
    width: 130px;
    text-align: center;
    border-radius: 6px;
    margin: 1rem 0;
    text-decoration: none;
}